/* Variables */

:root {
    --bg-colour: #E7A344;
    --button-colour: #A11D20;
    --button-hover-colour: #8b191b;
    --button-focus-colour: rgba(220,53,69,.5);
    --button-disabled-colour: #A11D20;
}

body {
    background-color: var(--bg-colour);
}

.btn-primary {
    background-color: var(--button-colour);
    border-color: var(--button-colour);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover {
    background-color: var(--button-hover-colour);
    border-color: var(--button-hover-colour);
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem var(--button-focus-colour);
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: var(--button-disabled-colour);
    border-color: var(--button-disabled-colour);
}
